@inherits ProductInventoriesComponentBase

<div class="form-group">
    <label for="invantories" class="form-label">Invantories</label>
    <ViewInventoriesComponent DisplaySearchResult=true
                              OnSelectInventory="() => OnSelectInventory(product)" />
</div>