@inherits ProductListComponentBase

<div class="pt-4">
    @if (Products == null || Products.Count() < 0)
    {
        <ItemsNotFoundComponent />
    } else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <ProductsListItemComponent Products="Products" />
            </tbody>
        </table>
    }
</div>