@inherits ViewProductsComponentBase

<div class="input-group">
    <input type="search"
           @bind-value="ProductNameToSearch"
           @bind-value:event="oninput"
           placeholder="Type product name here to search"
           class="form-control" />
    <button type="button"
            @onclick="async () => await ViewProducts()"
            class="btn btn-primary input-group-text">
        Search
    </button>
</div>

@if (DisplaySearchResult && Products != null && SelectedProduct == null)
{
    <div class="pt-2"
     style="overflow-y:auto; max-height:300px; border:1px solid silver; padding-top: 5px;">
        <ui style="list-style-type:none">
            @foreach (var item in Products)
            {
                <li @key="@item.Id"
            @onclick="async () => await SelectProduct(item)"
            style="cursor:pointer; display:inline">
                    <div class="row gap-3  p-2 bg-light border">
                        <div class="col-md-2">
                            @item.Name
                        </div>
                        <div class="col-md-auto">
                            $@item.Price
                        </div>
                    </div>
                </li>
            }
        </ui>
    </div>
}