@inherits SearchProductComponentBase

<div class="input-group">
    <input type="search"
        @bind-value="inventoryNameToSearch"
        placeholder="Type inventory name here to search"
        class="form-control"
    />
    <button type="button"
        @onclick="async () => await OnSearch()"
        class="btn btn-primary input-group-text"
    >
        Search
    </button>
</div>
