@inherits ViewInventoriesComponentBase

<div class="input-group">
    <input type="search"
           @bind-value="inventoryNameToSearch"
           placeholder="Type inventory name here to search"
           class="form-control" />
    <button type="button"
            @onclick="async () => await ViewInventories()"
            class="btn btn-primary input-group-text">
        Search
    </button>
</div>

@if (DisplaySearchResult && Inventories != null && SelectedInventory == null)
{
    <div class="pt-2" 
        style="overflow-y:auto; max-height:300px; border:1px solid silver">
        <ui style="list-style-type:none">
            @foreach (var item in Inventories)
            {
                <li @key="@item.Id"
                    @onclick="async () => await SelectInventory(item)"
                    style="cursor:pointer"
                >@item.Name</li>
            }
        </ui>
    </div>
}
